*


!bot/
!alembic.ini
!startup.sh
!pyproject.toml
!poetry.lock

!bot/**/*.py


**/__pycache__
**/.venv
**/.git
**/.vscode
**/*.log
**/*.sqlite
**/Dockerfile
**/docker-compose.yml
**/requirements.txt
**/alembic.ini